[%  INCLUDE header.tt
	title = 'Constable 2012 Advent Calendar!';
%]


<body>

    

<dl id="imagemap">
	<dt>  
    		<h1>Welcome to the 2012 Advent Calendar</h1>
 	</dt>

      	[% FOR page IN pages %]
		<dd id="[% page.count %]">
  			<a id="linkblock" 
				[% IF page.alt %] src="[% page.alt %]" [% END %]
				title="[% page.title %]" 
				href="[% page.count %].html">
   				<span>
    					[% page.count%]
	   			</span>
  			</a>
 		</dd>

      	[% END %]
</dl>

[% INCLUDE footer.tt %]

